
main {
  margin: 0;
}

.navbar-expand-lg {
  padding: 0;
}

body {
  background-color: rgb(241, 241, 241);
  margin: 0;
  padding: 0;
}

p,
i {
  margin: 5px 0 5px 0;
}

h2 {
  color: #888;
  margin-left: 10px;
}

h3 {
  margin-top: 15px;
  font-size: 17px;
  font-weight: bold;
}

.price-box :nth-child(1) {
  color: rgb(173, 173, 173);
  border: solid 2px  rgb(173, 173, 173);
  padding: 10px;
}

.price-box :nth-child(3) {
  padding: 10px;
}

.header-post,
.bottom-header,
.hotadd-info button,
.search-info button {
  background-color: #d35266;
}

.hotadd-info > :nth-child(1) {
  font-size: 20px;
  color: #d35266;
}

.subject-tittle :nth-child(1) {
  margin: 10px 20px 0 10px;
  font-size: 20px;
  color: #888;
}

.search-info {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  padding: 20px;
}

.search-info h3 {
  color: #888;
  font-weight: bold;
  margin-top: 0;
}

.search-info button {
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding: 5px;
  border-radius: 3px;
}

.subject-tittle :nth-child(2) {
  margin: 10px 10px 0 -10px;
  font-size: 22px;
  font-weight: bold;
  color: #888;
}

.top-header > a :nth-child(1) {
  margin-top: 0;
  margin-right: 0;
}

.hotadd-info button {
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding: 5px;
  border-radius: 3px;
}

.button-hide a {
  margin: 0;
  padding: 0;
}

.top-header a {
  color: #888;
  border: transparent;
  padding: 10px 0;
}

.dropdown-button a,
.footer a,
.item-container a,
.form-check p,
.carousel-item a,
.carousel-control-prev-icon,
.search-button {
  color: #383838;
}

.price-box :nth-child(1):hover,
.condition,
.price-point,
.top-header button:hover,
.top-header a:hover,
.footer-category,
.dropdown-menu a:hover {
  color: #d35266;
}

.price-box :nth-child(1):hover,
.dropdown-menu a:hover,
.search-button:hover {
  background-color: #383838;
}

.search-button:hover {
  color: white;
  font-weight: bold;
}

div {
  margin: 0;
  padding: 0;
}

.flex-section {
  display: flex;
}

.flex-section-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-section-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-section-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar-collapse-menu {
  margin-left: 50px;
}

.header-post {
  color: white;
  font-weight: bold;
  padding: 10px;
  margin-left: 10px;
}

.form-check p {
  font-weight: bold;
  margin-top: 30px;
}

.bottom-header {
  height: 200px;
}

.header-bottom-logo {
  height: 60px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.fa-shopping-cart {
  margin-right: 15px;
}

.top-header p {
  font-size: 15px;
  font-weight: bold;
}

.subject-tittle {
  margin: 10px 0 0 0;
  border-bottom: solid 2px #888;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.item-container {
  margin: 5px 5px 10px 5px;
  border: solid 2px  rgb(173, 173, 173);
  background-color: white;
}

.button-hide {
  display: none;
}

.price-box {
  padding: 0 15px 0 15px;
  margin-bottom: 20px;
}

.price-box:hover {
  text-decoration: none;
}

.price-box :nth-child(1):hover + .button-hide {
  display: block;
  color: red;
  width: 150px;
  height: 80px;
  margin-top: -200px;
  margin-left: -150px;
  padding: 0;
}

.price-box :nth-child(1):hover {
  border: #d35266;
}

.condition {
  font-weight: bold;
}

.price-point {
  font-weight: bold;
  font-size: 20px;
}

.hotspot-section {
  border: transparent;
}

.hot-add-p {
  color: #888;
  font-weight: bold;
  margin-left: 60px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.hotadd-image img {
  height: 200px;
  width: 300px;
}

.hotadd-info {
  margin-left: 20px;
  padding: 10px 0;
}

footer {
  background-color: white;
  padding: 20px;
  margin-top: 30px;
}

.footer-logo {
  width: 50px;
}

.category-container,
.footer-info {
  padding: 20px;
  color: #888;
}

.category-container p {
  color: #888;
}

.footer-category {
  font-weight: bold;
}

.section-3 {
  color: #888;
  margin: 0 20px 0 20px;
}

.section-3 p {
  margin-left: auto;
  margin-right: auto;
}

.boarder {
  border-bottom: solid 1px #888;
  margin: 20px 0;
}

.form-check {
  margin-top: 5px;
}

.form-check label {
  margin-top: 5px;
}

.fa-chevron-left,
.fa-chevron-right {
  color: black;
  font-weight: bold;
  height: 50px;
}

@media (min-width: 100px) {
  .header-logo {
    min-width: 40px;
    min-height: 40px;
  }

  .navbar-toggler {
    border: transparent;
  }
}

@media (min-width: 320px) {
  header {
    padding: 0;
  }

  .price-point {
    font-weight: bold;
    font-size: 20px;
  }

  div .price-point {
    margin: 0;
    padding: 0;
  }

  .price-box :nth-child(1) {
    color: rgb(173, 173, 173);
    border: solid 2px  rgb(173, 173, 173);
    padding: 5px 5px;
    height: 30px;
    margin-top: 5px;
    margin-left: -10px;
  }
}

@media (min-width: 375px) {
  .price-point {
    font-weight: bold;
    font-size: 20px;
  }

  div .price-point {
    margin: 0;
    padding: 0;
  }

  .price-box :nth-child(1) {
    color: rgb(173, 173, 173);
    border: solid 2px  rgb(173, 173, 173);
    padding: 5px 5px;
    height: 30px;
    margin-top: 5px;
    margin-left: -10px;
  }
}

@media (min-width: 425px) {
  .price-point {
    font-weight: bold;
    font-size: 20px;
  }

  div .price-point {
    margin: 0;
    padding: 0;
  }

  .price-box :nth-child(1) {
    color: rgb(173, 173, 173);
    border: solid 2px  rgb(173, 173, 173);
    padding: 5px 5px;
    height: 30px;
    margin-top: 5px;
    margin-left: -10px;
  }
}

@media (min-width: 768px) {
  .button-container {
    font-size: 20px;
    padding: 10px;
    width: 100%;
  }

  .header-logo {
    height: 80px;
    width: 80px;
  }

  .carousel a {
    background-color: transparent;
    width: 10px;
  }

  .carousel-item a {
    width: 100%;
  }

  .dropdown-menu a:hover {
    font-weight: bold;
  }

  .website-container {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .website-container h1 {
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    font-size: 50px;
    margin-right: 10px;
  }

  .drop-down-container {
    margin-bottom: 30px;
    margin-left: 40px;
  }

  .carousel-inner p {
    font-size: 12px;
  }

  .top-header {
    margin: 0;
  }

  .top-header button {
    background-color: transparent;
    color: #888;
    border: transparent;
    margin: 0;
    padding: 0;
  }

  .top-header button > p {
    font-size: 15px;
    font-weight: bold;
  }

  .dropdown-button {
    background-color: white;
    margin: 0 10px;
    padding: 3px 10px;
  }

  .hotspot-section {
    border: transparent;
  }

  .hot-add-p {
    color: #888;
    font-weight: bold;
    margin-left: 60px;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .hotadd-image img {
    height: 200px;
    width: 300px;
  }

  .hotadd-info {
    margin-left: 20px;
    padding: 10px 0;
  }

  .hotadd-info button {
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
    border-radius: 3px;
  }

  .hotadd-info > :nth-child(1) {
    font-size: 20px;
  }

  .left-side-bar {
    border-right: solid 1px #888;
    padding: 0 20px;
  }

  .search-section {
    border: transparent;
  }

  .search-image img {
    height: 200px;
    width: 300px;
  }

  .carousel-inner h3 {
    font-size: 12px;
    font-weight: bold;
  }

  .search-button {
    background-color: white;
    margin-left: 10px;
    border: transparent;
  }

  .price-point {
    font-weight: bold;
    font-size: 20px;
  }

  div .price-point {
    margin: 0;
    padding: 0;
  }

  .price-box :nth-child(1) {
    color: rgb(173, 173, 173);
    border: solid 2px  rgb(173, 173, 173);
    padding: 5px 5px;
    height: 30px;
    margin-top: 5px;
    margin-left: -10px;
  }

  .hotads-section {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .item-container-row {
    padding: 10px;
    background-color: white;
  }

  .carousel-item {
    background-color: rgb(241, 241, 241);
    padding: 0 30px;
  }

  .fa-chevron-left,
  .fa-chevron-right {
    color: black;
    font-weight: bold;
  }
}

@media (min-width: 1024px) {
  .button-container {
    font-size: 20px;
    padding: 10px;
    width: 100%;
  }

  .website-container {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .website-container h3 {
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    font-size: 50px;
    margin-right: 50px;
  }

  .drop-down-container {
    margin-bottom: 30px;
    margin-left: 40px;
  }

  header .fas {
    margin: 0 10px;
  }

  .top-header {
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: space-around;
  }

  .top-header button {
    background-color: transparent;
    color: #888;
    border: transparent;
    margin: 0;
    padding: 0;
  }

  .top-header button > p {
    font-size: 15px;
    font-weight: bold;
  }

  .dropdown-button {
    background-color: white;
    margin: 0 10px;
    padding: 3px 10px;
  }

  .search-button {
    background-color: white;
    margin-left: 10px;
    border: transparent;
  }

  .price-point {
    font-weight: bold;
    font-size: 20px;
  }

  div .price-point {
    margin: 0;
    padding: 0;
  }

  .price-box :nth-child(1) {
    color: rgb(173, 173, 173);
    border: solid 2px  rgb(173, 173, 173);
    padding: 5px 5px;
    height: 30px;
    margin-top: 5px;
    margin-left: -10px;
  }
}
