
main {
  margin: 0;
}

.navbar-expand-lg {
  padding: 0;
}

body {
  background-color: rgb(241, 241, 241);
  margin: 0;
  padding: 0;
}

p,
i {
  margin: 5px 0 5px 0;
}

h2 {
  color: #888;
  margin-left: 10px;
}

h3 {
  margin-top: 15px;
  font-size: 20px;
}

div {
  margin: 0;
  padding: 0;
}

.form-check p {
  font-weight: bold;
  color: #383838;
  margin-top: 30px;
}

footer a {
  color: #383838;
}

.item-container a {
  color: #383838;
}

.top-header {
  background-color: #383838;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-header a {
  background-color: transparent;
  color: #888;
  border: transparent;
  margin-right: 10px;
}

.top-header > p {
  margin: 0;
  padding-left: 8px;
}

.search-info button {
  background-color: #d35266;
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding: 5px;
  border-radius: 3px;
  border: transparent;
  margin: 3px;
}

.hotadd-info button {
  background-color: #d35266;
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding: 5px;
  border-radius: 3px;
}

.button-hide a {
  margin: 0;
  padding: 0;
}

.top-header button:hover,
.top-header a:hover {
  color: #d35266;
}

.subjext-tittle {
  margin: 10px 0 0 0;
  border-bottom: solid 2px #888;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.subjext-tittle :nth-child(1) {
  margin: 10px 20px 0 10px;
  font-size: 20px;
  color: #888;
}

.subjext-tittle :nth-child(2) {
  margin: 10px 10px 0 -10px;
  font-size: 22px;
  font-weight: bold;
  color: #888;
}

.item-container {
  margin: 5px 5px 10px 5px;
  border: solid 2px  rgb(173, 173, 173);
  background-color: white;
}

.button-hide {
  display: none;
}

.price-box {
  display: flex;
  justify-content: space-between;
  padding: 0 15px 0 15px;
  margin-bottom: 20px;
}

.price-box:hover {
  text-decoration: none;
}

.price-box :nth-child(1):hover + .button-hide {
  display: block;
  color: red;
  width: 150px;
  height: 80px;
  margin-top: -200px;
  margin-left: -150px;
  padding: 0;
}

.button-hide > a:hover {
  background-color: #383838;
}

.hotadd-info > :nth-child(1) {
  color: #d35266;
  font-size: 20px;
}

.price-box :nth-child(1) {
  color: rgb(173, 173, 173);
  border: solid 2px  rgb(173, 173, 173);
  padding: 10px;
}

.price-box :nth-child(3) {
  padding: 10px;
}

.price-box :nth-child(1):hover {
  background-color: #383838;
  color: #d35266;
  border: #d35266;
}

.condition {
  color: #d35266;
  font-weight: bold;
}

.price-point {
  color: #d35266;
  font-weight: bold;
  font-size: 20px;
}

.hotspot-section {
  border: transparent;
}

.hot-add-p {
  color: #888;
  font-weight: bold;
  margin-left: 60px;
  margin-top: 40px;
  margin-bottom: 20px;
}

footer img {
  display: flex;
  justify-content: center;
}

.hotadd-image img {
  height: 200px;
  width: 300px;
}

.hotadd-info {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  padding: 10px 0;
}

.search-info {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}

footer {
  background-color: white;
  padding: 20px;
  margin-top: 30px;
}

footer .section-1 {
  display: flex;
  justify-content: center;
}

.footer-logo {
  display: flex;
  width: 50px;
}

.footer-info {
  padding: 20px;
  color: #888;
}

.category-container {
  padding: 20px;
  color: #888;
}

.footer-category {
  color: #d35266;
  font-weight: bold;
}

.section-3 {
  color: #888;
  margin: 0 20px 0 20px;
}

.boarder {
  border-bottom: solid 1px #888;
  margin: 20px 0;
}

.form-check {
  margin-top: 5px;
}

.form-check label {
  margin-top: 5px;
}

.fa-chevron-left,
.fa-chevron-right {
  color: black;
  font-weight: bold;
  height: 50px;
}

@media (min-width: 320px) {
  header {
    padding: 0;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    width: 190px;
    padding: 0;
    margin-right: 10px;
  }

  .header-logo {
    height: 30px;
    padding: 2px;
    margin-left: 20px;
  }

  .top-header {
    background-color: #383838;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 8px;
    margin: 0;
    padding: 0;
  }

  .top-header button {
    background-color: transparent;
    color: #888;
    border: transparent;
    margin: 0;
    padding: 0;
  }

  .top-header button > p {
    margin-top: 5px;
    padding: 0;
    padding-left: 3px;
    font-weight: bold;
  }

  .top-header > a > i {
    margin-top: -10px;
  }

  .bottom-header {
    height: 200px;
    background-color: #d35266;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .price-point {
    color: #d35266;
    font-weight: bold;
    font-size: 20px;
  }

  div .price-point {
    margin: 0;
    padding: 0;
  }

  .price-box :nth-child(1) {
    color: rgb(173, 173, 173);
    border: solid 2px  rgb(173, 173, 173);
    padding: 5px 5px;
    height: 30px;
    margin-top: 5px;
    margin-left: -10px;
  }
}

@media (min-width: 375px) {
  .button-container {
    display: flex;
    justify-content: space-around;
    width: 240px;
  }

  .header-logo {
    height: 40px;
    padding: 2px;
    margin-left: 20px;
  }

  .top-header {
    background-color: #383838;
    display: flex;
    align-items: center;
    margin: 0;
  }

  .top-header button {
    background-color: transparent;
    color: #888;
    border: transparent;
    margin: 0;
    padding: 0;
  }

  .top-header button > p {
    margin-top: 5px;
    padding: 0;
    font-size: 10px;
    padding-left: 4px;
    padding-right: 4px;
    font-weight: bold;
  }

  .top-header > a > i {
    margin-top: -10px;
  }

  .price-point {
    color: #d35266;
    font-weight: bold;
    font-size: 20px;
  }

  div .price-point {
    margin: 0;
    padding: 0;
  }

  .price-box :nth-child(1) {
    color: rgb(173, 173, 173);
    border: solid 2px  rgb(173, 173, 173);
    padding: 5px 5px;
    height: 30px;
    margin-top: 5px;
    margin-left: -10px;
  }
}

@media (min-width: 425px) {
  .button-container {
    display: flex;
    justify-content: space-around;
    width: 280px;
    font-size: 11px;
  }

  .header-logo {
    height: 40px;
    padding: 2px;
    margin-left: 20px;
  }

  .top-header {
    background-color: #383838;
    display: flex;
    align-items: center;
    margin: 0;
  }

  .top-header button {
    background-color: transparent;
    color: #888;
    border: transparent;
    margin: 0;
    padding: 0;
  }

  .top-header button > p {
    margin-top: 5px;
    padding: 0;
    font-size: 12px;
    padding-left: 4px;
    padding-right: 4px;
    font-weight: bold;
  }

  .top-header > button > i {
    margin-top: -10px;
  }

  .price-point {
    color: #d35266;
    font-weight: bold;
    font-size: 20px;
  }

  div .price-point {
    margin: 0;
    padding: 0;
  }

  .price-box :nth-child(1) {
    color: rgb(173, 173, 173);
    border: solid 2px  rgb(173, 173, 173);
    padding: 5px 5px;
    height: 30px;
    margin-top: 5px;
    margin-left: -10px;
  }
}

@media (min-width: 768px) {
  .button-container {
    font-size: 20px;
    padding: 10px;
    width: 100%;
  }

  .carousel a {
    background-color: transparent;
    width: 10px;
  }

  .carousel-item a {
    width: 100%;
    color: #383838;
  }

  .dropdown-button a {
    color: #383838;
  }

  .dropdown-menu a:hover {
    background-color: #383838;
    color: #d35266;
    font-weight: bold;
  }

  .website-container {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .website-container h3 {
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    font-size: 50px;
    margin-right: 50px;
  }

  .drop-down-container {
    margin-bottom: 30px;
    margin-left: 40px;
  }

  header .fas {
    margin: 0 10px;
  }

  .header-logo {
    height: 60px;
  }

  .carousel-inner p {
    font-size: 12px;
  }

  .header-post-button p {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .top-header {
    background-color: #383838;
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: space-around;
  }

  .top-header button {
    background-color: transparent;
    color: #888;
    border: transparent;
    margin: 0;
    padding: 0;
  }

  .top-header button > p {
    font-size: 15px;
    font-weight: bold;
  }

  .header-post {
    background-color: #d35266;
    color: white;
    font-weight: bold;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 40px;
    font-size: 10px;
  }

  .bottom-header {
    height: 200px;
    background-color: #d35266;
    display: flex;
    align-items: center;
  }

  .header-bottom-logo {
    height: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
  }

  .dropdown-button {
    background-color: white;
    margin: 0 10px;
    padding: 3px 10px;
  }

  .hotspot-section {
    border: transparent;
  }

  .hot-add-p {
    color: #888;
    font-weight: bold;
    margin-left: 60px;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .hotadd-image img {
    height: 200px;
    width: 300px;
  }

  .hotadd-info {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    padding: 10px 0;
  }

  .hotadd-info button {
    background-color: #d35266;
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
    border-radius: 3px;
  }

  .hotadd-info > :nth-child(1) {
    color: #d35266;
    font-size: 20px;
  }

  .left-side-bar {
    border-right: solid 1px #888;
    padding: 0 20px;
  }

  .search-section {
    border: transparent;
  }

  .search-info {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
  }

  .search-info h3 {
    color: #888;
    font-weight: bold;
    margin-top: 0;
  }

  .search-info button {
    background-color: #d35266;
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
    border-radius: 3px;
  }

  .search-image img {
    height: 200px;
    width: 300px;
  }

  .carousel-inner h3 {
    font-size: 12px;
    font-weight: bold;
  }

  .carousel-control-prev-icon {
    color: #383838;
  }

  .search-button {
    background-color: white;
    color: #383838;
    margin-left: 10px;
    border: transparent;
  }

  .search-button:hover {
    background-color: #383838;
  }

  .price-point {
    color: #d35266;
    font-weight: bold;
    font-size: 20px;
  }

  div .price-point {
    margin: 0;
    padding: 0;
  }

  .price-box :nth-child(1) {
    color: rgb(173, 173, 173);
    border: solid 2px  rgb(173, 173, 173);
    padding: 5px 5px;
    height: 30px;
    margin-top: 5px;
    margin-left: -10px;
  }

  .hotads-section {
    display: flex;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .item-container-row {
    padding: 10px;
    background-color: white;
  }

  .carousel-item {
    background-color: rgb(241, 241, 241);
    padding: 0 30px;
  }

  .fa-chevron-left,
  .fa-chevron-right {
    color: black;
    font-weight: bold;
  }
}

@media (min-width: 1024px) {
  .button-container {
    font-size: 20px;
    padding: 10px;
    width: 100%;
  }

  .website-container {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .website-container h3 {
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    font-size: 50px;
    margin-right: 50px;
  }

  .drop-down-container {
    margin-bottom: 30px;
    margin-left: 40px;
  }

  header .fas {
    margin: 0 10px;
  }

  .header-logo {
    height: 60px;
  }

  .header-post-button p {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .top-header {
    background-color: #383838;
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: space-around;
  }

  .top-header button {
    background-color: transparent;
    color: #888;
    border: transparent;
    margin: 0;
    padding: 0;
  }

  .top-header button > p {
    font-size: 15px;
    font-weight: bold;
  }

  .header-post {
    background-color: #d35266;
    color: white;
    font-weight: bold;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 40px;
    font-size: 10px;
  }

  .bottom-header {
    height: 200px;
    background-color: #d35266;
    display: flex;
    align-items: center;
  }

  .header-bottom-logo {
    height: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
  }

  .dropdown-button {
    background-color: white;
    margin: 0 10px;
    padding: 3px 10px;
  }

  .dropdown-button a {
    color: #383838;
  }

  .search-button {
    background-color: white;
    color: #383838;
    margin-left: 10px;
    border: transparent;
  }

  .price-point {
    color: #d35266;
    font-weight: bold;
    font-size: 20px;
  }

  div .price-point {
    margin: 0;
    padding: 0;
  }

  .price-box :nth-child(1) {
    color: rgb(173, 173, 173);
    border: solid 2px  rgb(173, 173, 173);
    padding: 5px 5px;
    height: 30px;
    margin-top: 5px;
    margin-left: -10px;
  }
}
